.feature_row_1 {
  display: flex;
  column-gap: 2rem;
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1366px) {
  .feature_row_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .feature_row_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

@media screen and (max-width: 576px) {
  .feature_row_1 {
    margin: 1rem;
    padding: 1rem;
    row-gap: 2rem;
    column-gap: 0rem;
  }
}

@media screen and (max-width: 512px) {
  .feature_row_1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    row-gap: 4rem;
    width: 60%;
    margin: auto auto;
  }
}
